body{
    margin-left: 1rem;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    font-family: Poppins;
    padding-left: 4vw;
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: center;
}

img[alt=logo]{
    width: 8vw;
}
img[alt=actions]{
    width: 20vw;
}
.nav-item{
    width: 10vw;
    display: flex;
    justify-content: center;
}
.nav-item:hover{
    color: rgba(254,94,53,255);
}
.intro-section{
    display: flex;
}

.left-section h3{
    font-family: Poppins;
    margin: 0.5rem 0;
}
.left-section h1{
    font-family: "Fredoka One";
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 100;
}
img[alt=circles]{
    width: 1.5rem;
}
img[alt= plus]{
    border-radius: 30px;
    width: 0.6rem;
    background-color: rgba(254,94,53,255);
    padding: 0.2rem;
}
.sub-headline{
    margin: 0.8rem 0;
    display: flex;
    font-family: Poppins;
    align-items: center;
    font-weight: 100;
}
img[alt=plus]{
    margin-right: 0.8rem;
}
.text{
    margin: 1rem 0;
    white-space: pre-line;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1.39rem;
    font-size: 0.5rem;
    font-weight: 100;
}
.action-btn{
    border: none;
    background-color: rgba(254,94,53,255);
    font-size: 0.7rem;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 30px;
}
.left-section , .action-btn:nth-of-type(1){
    margin-right: 1rem;
}
.right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img[alt=headphone]{
    position: relative;
    transform: translate(2cm, -5cm);
    width: 32vw;
}
.discount , .discount-content{
    position: relative;
    z-index: 5;
}
.discount {
    width: 30%;
    transform: translate(1.2cm,4.8cm);
    filter: drop-shadow(-4px 4px rgba(171,171,171,0.5));
}
.discount-content{
    font-size: 0.8rem;
    font-family: "Fredoka One";
    transform: translate(1.7cm,2.5cm);
}
.discount-content h4{
    margin-bottom: 0;
    color: white;
}
.discount-content h1{
    margin-top: 0;
    color: white;
}
.headphone-div{
    height: 2rem;
}
.dots{
    position: relative;
    z-index: 5;
    display: flex;
    width: 6rem;
    justify-content: space-between;
}
.dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 30px;
}
.yellow-dot{
    background-color: rgba(251,209,4,255);
}
.tomato-dot{
    background-color: rgba(254,94,53,255);
}
.black-dot{
    background-color: black;
}
.right-section .action-btn{
    margin-top: 1rem;
    position: relative;
    transform: translate(2.2cm,6.8cm);
    z-index: 1;
}
.dots{
    position: relative;
    transform: translate(1.8cm,6.8cm);
}
@media screen and (min-width:1500px) {
    .discount-content{
        font-size: 1.8rem;
    }
    img[alt = headphone]{
        transform: translate(3cm, -10.5cm);
    }
    .discount{
        transform: translate(0.5cm,11.8cm);
    }
    .discount-content{
        transform: translate(1.7cm,6.5cm);
    }
    .nav-item{
        font-size: 1.5rem;
    }
    img[alt=actions]{
        width: 24vw;
    }
    body{
        margin-left: 2rem;
    }
    .left-section{
        font-size: 2rem;
    }
    img[alt=circles]{
        width: 2.5rem;
    }
    .left-section h1{
        font-size: 6.5rem;
        margin: 0;
    }
    img[alt= plus]{
        width: 1.6rem;
    }
    .sub-headline{
        font-size: 2.5rem;
        margin: 1.8rem 0;
    }
    .text{
        font-size:  1rem;
        letter-spacing: 0.1ch;
    }
    .action-btn{
        width: 9rem;
        font-size: 1rem;
    }
    .right-section .action-btn{
        transform: translate(3.15cm,15.1cm);
    }
    .dots{
        transform: translate(3cm,14.8cm);
    }
}
